@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    --blancoBase:#fff;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:var(--blancoBase);
    background: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--Violet);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    width: 100%;
    flex-grow: 1;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.contenedor-seccion1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.contenedor-seccion1__logo{
    width: 45%;
    padding: 1rem;
    margin: .7rem .8rem 3rem;
}
.contenedor-mockup{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}
.contenedor-mockup__mockup{
    width:80%;
    height: 92%;
}
.contenedor-seccion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.3rem;
}
.contenedor-seccion2__titulo{
    font-size: 1.6rem;
    margin: 1.7rem 0 0 0;
}
.contenedor-seccion2__descripcion{
    font-size: 1.1rem;
    margin: 1.8rem 0 ;
}
.btn-registro{
    width: 70%;
    padding:.8rem;
    font-size: 1.1rem;
    border:none;
    color:var(--Violet);
    background: var(--blancoBase);
    border-radius:1.25rem;
    -webkit-box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.41);
    box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.41);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3.5rem 0 3rem;
}
.contenedor-redesSociales{
    display: flex;
    padding: .5rem;
}

.icon-redsocial{
    border: 1px solid #fff;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: .7rem;
    text-align: center;
    margin:0 .3rem;
    border-radius: 50%;
}
@media screen and (min-width: 1300px) {
    body{
        background: url(./images/bg-desktop.svg);
        background-size: unset;
        background-color: var(--Violet);
        background-repeat: no-repeat;
    }
    main{
        display: flex;
    }
    
    .contenedor-seccion1{
        width: 60%;
        justify-content: center; 
    }
    .contenedor-seccion1__logo{
        width: 25%;
        padding: .3rem;
        transform: translate(4rem,2rem);
    }
    .contenedor-mockup{
        width: 100%;
        height: 70vh;
        align-items: center;
        transform: translate(0,2rem);
    }
    .contenedor-mockup__mockup{
        width:85%;
        height: 90%;
    }
    .contenedor-seccion2{
        width: 40%;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        padding: 0 4rem 0 0;
    }
    .contenedor-seccion2__titulo{
        font-size: 2.4rem;
        margin: 4.5rem 0 0 0;
    }
    .contenedor-seccion2__descripcion{
        font-size: 1.1rem;
        line-height: 2rem;
        margin: 1.5rem 0 ;
    }
    .btn-registro{
        width: 30%;
    }
    .btn-registro:hover{
        background: var(--SoftMagenta);
        color: var(--blancoBase);
        cursor: pointer;
    }
    footer{
        justify-content: flex-end;
        padding:1.2rem 0;
    }
    .contenedor-redesSociales{
        display: flex;
        padding: .5rem;
        margin-right: 2rem;
    }
    .icon-redsocial{
        margin:0 .5rem;
    }
    .icon-redsocial:hover{
        border: 1px solid var(--SoftMagenta);
        color:var(--SoftMagenta);
        cursor:pointer;
    }
}